{% extends 'base.html' %}
{% block title %} | Home - ホーム {% endblock %}

{% block content %}
{% load static %}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h4>Velkomin á heimasíðu íslensk-japönsku veforðabókarinnar Ísjap</h4>
          <p><b>Ísjap</b> er íslensk-japönsk veforðabók ætluð Japönum í íslenskunámi en hún getur einnig nýst Íslendingum í japönskunámi. Auk þess er tekið mið af þörfum ferðamanna og annarra sem dveljast í löndunum til lengri eða skemmri tíma. Viðfangsmál orðabókarinnar er nútímaíslenska en markmálið nútímajapanska.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <p>Ísjap er lifandi orðabók sem er enn í vinnslu. Hún er birt á netinu í opnum aðgangi og notendur geta því leitað í henni án endurgjalds.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>氷日オンライン辞典 Ísjap のホームページにようこそ</h4>
          <p><b>Ísjap</b> は、無料で利用できるオンラインの現代アイスランド語学習者辞典です。アイスランド語話者が日本語の理解を深めることにも活用できます。アイスランドへの旅行者や滞在者の役にも立つことを目指して作成しています。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <p>本オンライン辞典は、絶えず修正・更新されます。</p>
        </div>
    </div>
</div>


{% endblock %}
