{% extends 'base.html' %}
{% block title %} | Um Ísjap - Ísjap について {% endblock %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h4>Um Ísjap</h4>
          <p><b>Ísjap</b> er íslensk-japönsk orðabók á vefnum og ætluð fullorðum Japönum í íslenskunámi. Viðfangsmálið er nútímaíslenska og nútímajapanska er markmálið. Orðabókin er birt á netinu í opnum aðgangi án endurgjalds og mun þess vegna nýtast nemendum og kennurum í japönskunámi á Íslandi til þess að efla málskilning og orðaforða. Auk þess verður tekið mið af þörfum ferðamanna og annarra sem dveljast í löndunum í skemmri eða lengri tíma.</p>
          <p>Veforðabókin er lifandi orðabók og því er stöðugt í endurskoðun og orð myndu bætast við orðaforðann.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <p>Hönnun og innihald veforðabókarinnar er opið öllum með afnotaleyfi <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">CC-BY-NC 4.0 frá Creative Commons</a>:<br/></p>
          <ul>
            <li><a href="https://drive.google.com/drive/folders/10PEIjpdgz6P4vs9YyaWSxqu-i3R1wIEa?usp=sharing" target="_blank" >Flettur eru aðgengilegar á CSV-formi</a></li>
            <li><a href="https://github.com/akakurashohei/isjap" target="_blank" >Kerfi orðabókarinnar er aðgengilegt á GitHub</a></li>
          </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>Ritstjórn og starfsmenn</h4>
          <ul>
            <li>Shohei Watanabe - aðalritstjóri og verkefnisstjóri</li>
          </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>Fjármögnun og samstarf</h4>
          <p>Verkefnið var styrkt af<a href="https://www.rannis.is/sjodir/menntun/nyskopunarsjodur-namsmanna/" target="_blank">Nýsköpunarsjóði námsmanna</a> árið 2020 og unnið í samstarfi við <a href="https://arnastofnun.is/is" target="_blank">Stofnun Árna Magnússonar í íslenskum fræðum</a> (SÁM).</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>Ísjapについて</h4>
          <p><b>Ísjap</b> は、無料で利用できるオンラインの現代アイスランド語学習者辞典です。アイスランド語話者が日本語の理解を深めることにも活用できます。アイスランドへの旅行者や滞在者の役にも立つことを目指して作成しています。</p>
          <p>本オンライン辞典は、絶えず修正・更新されます。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <p>本辞典のコードとコンテンツは、<a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">クリエイティブ・コモンズ（CC-BY-NC 4.0）</a>で公開されています：<br/></p>
          <ul>
            <li><a href="https://drive.google.com/drive/folders/10PEIjpdgz6P4vs9YyaWSxqu-i3R1wIEa?usp=sharing" target="_blank" >コンテンツは、CSV形式で公開されています。</a></li>
            <li><a href="https://github.com/akakurashohei/isjap" target="_blank" >コードは、GitHubで公開されています。</a></li>
          </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>編集者</h4>
          <ul>
            <li>Shohei Watanabe - 主任編纂・技術担当</li>
          </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
          <h4>助成と協力</h4>
          <p>本プロジェクトは、2020年に<a href="https://www.rannis.is/sjodir/menntun/nyskopunarsjodur-namsmanna/" target="_blank">Nýsköpunarsjóður námsmanna</a>より助成を受け、<a href="https://arnastofnun.is/is" target="_blank">Stofnun Árna Magnússonar í íslenskum fræðum</a>（SÁM）の協力を受けています。</p>
        </div>
    </div>
</div>

{% endblock %}
