{% load static %}

<!-- Footer start -->

<footer class="footer">
  <div class="container-fluid">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <p class="copy">© {% now 'Y' %} <a href="{% url 'heima' %}">Ísjap</a>. All Rights Reserved.</p>
      </div>
      <div class="p-2 bd-highlight">
        <a href="https://github.com/akakurashohei/isjap" target="_blank" class="github-bg"><i class="fab fa-github" alt="github"></i></a>
      </div>
  </div>
</div>
</footer>
<!-- Footer end -->
