<!-- Main navbar start -->
<header class="main-header">
    <form action="{% url 'leit:nidurstada' %}" method="GET">
          <div class="ui action input">
            <div class="container">
              <div class="row">
                <div class="p-2 flex-grow-1 bd-highlight">
                  <input type="search" class="form-control" name="q" placeholder="Sláðu inn leitarorð - 見出し語を入力" aria-label="Search">
                </div>
                <div class="p-2 bd-highlight align-self-end">
                  <button type="submit" class="btn btn-md btn-primary"><i class="fa fa-search"></i> Leit - 検索</button>
                </div>
              </div>
            </div>
          </div>
    </form>
  <hr>
</header>
<!-- Main navbar start -->
